<div class="the-start">

  <div class = "begin d-flex justify-content-center align-items-center">
    <div class="begin-content d-flex justify-content-center align-items-center">
      <div>
        <div class="top-nav d-flex justify-content-around">
         <a href="#portfolio"><h6>portfolio</h6></a>
          <a href="#skills"><h6>skills</h6></a>
           <a href="#about"><h6>about</h6></a>
        </div>
        <h1 class="pt-5 pb-5 text-center header-text">Thomas Temple</h1>
        <h4 class='pb-5'>Junior Developer who loves music, fitness & Scotland </h4>
        <div class="d-flex justify-content-around media-icons">
          <a href="mailto: tjt_84@hotmail.com"> <%= image_tag "emails", style:"padding-top:8px;" %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= image_tag "the-real-git", style:"height: 78px;" %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= image_tag "linkedin" %> </a>
        </div>
      </div>
    </div>
  </div>

<!-- LUMINA PORTFOLIO -->

  <div class="port-lumina" id="portfolio">
    <div class="custom-container">
      <div class="top-response header-text-light d-flex justify-content-between pt-4">
        <div class="portfolio-nav">
        <p class="pr-3">Portfolio</p>
        </div>
        <div class="content-between-toggle contact \">
          <a href=""> <%= image_tag "p-email" %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= image_tag "p-github" %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= image_tag "p-linkedin" %> </a>
        </div>
      </div>
      <div class="header-text-light">
        <p class="lumina-text">Lumina</p>
      </div>
      <div class= "inner-container-detail">
        <div class= "central-container-lumina">
            <%= image_tag "lumina", class: "lumina-image-position" %>
          <div class="lumina-content">
            <div class="lumina-response">
              <p class= "lumina-paragraph" >Lumina is a social media platform that focuses on giving, kindness and was created in a team environment as the final project at the end of a coding Bootcamp with Le Wagon Melbourne. Created on Rails with Ruby, Javascript, HTML & CSS, the app includes geocoding Mapbox features, AJAX, authorization & pundit gems, API calling via Meet Up, and a fully randomized neverending feed. My involvement includes backend logic/algorithm creation as well as assistance with front-end & component design. This application is unresponsive on smaller screens.</p>
            </div>
          </div>
          <div class="d-flex button-selection-lumina">
            <div class="toggle-visibility">
            <button class="lumina-button preview text-center" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              PREVIEW
            </button>
          </div>



            <div class="lumina-button site text-center"><a href="http://www.love-lumina.me" target="_blank"> SITE</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header lumina-modal-header">
                  <h5 class="modal-title text-center" id="staticBackdropLabel">Lumina</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body lumina-modal-body">
                  <%= image_tag "lumina-site", style:"width: 1106px;" %>
                  <object type="text/html" data="https://www.love-lumina.me/"></object>
                </div>
              </div>
            </div>
          </div>


<!-- SPIN FINDER PORTFOLIO -->

  <div class="port-spin">
    <div class="custom-container">
      <div class="top-response header-text-light d-flex justify-content-between pt-4">
        <p class="pr-3">Portfolio</p>
        <div class="content-between-toggle contact contact-spin">
          <a href=""> <%= image_tag "p-email" %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= image_tag "p-github" %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= image_tag "p-linkedin" %> </a>
        </div>
      </div>
      <div class="header-text-light spin-position">
        <p class="spin-text">Spin Finder</p>
      </div>
      <div class= "d-flex justify-content-center">
        <div class= "central-container-lumina">
            <%= image_tag "spin", class: "spin-image-position" %>
          <div class="spin-content">
            <div class="spin-response">
              <p class= "spin-paragraph" >Spin Finder was built as a cycling rental application and was created as an "Airbnb" marketplace clone in a team with Le Wagon Melbourne. The application includes multiple user pathways and gives the ability to rent a bicycle from a user as well as rent out their bikes using a basic CRUD software architectural style. Spin was my first attempt at creating an app back to front collaboratively and uses an MVC software design pattern. The app is designed for medium screen sizes and is unresponsive.</p>
            </div>
          </div>
          <div class="d-flex button-selection-spin">
            <div class="toggle-visibility">
              <button class="spin-button preview text-center" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                PREVIEW
              </button>
            </div>
            <div class="spin-button site text-center"><a href="https://rad-man.herokuapp.com" target="_blank">SITE</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content modal-rad">
                <div class="modal-header spin-modal-header">
                  <h5 class="modal-title text-center" id="staticBackdropLabel">Spin Finder</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body spin-modal-body">
                  <%= image_tag "spin-website", style:"width: 1106px;" %>
                  <!-- <object type="text/html" data="https://www.love-lumina.me/"></object> -->
                </div>
              </div>
            </div>
          </div>

<!-- RAD MAN PORTFOLIO -->

  <div class="port-rad">
    <div class="custom-container">
      <div class="top-response header-text-light d-flex justify-content-between pt-4">
        <p class="pr-3">Portfolio</p>
        <div class="content-between-toggle contact contact-rad">
          <a href=""> <%= image_tag "p-email" %> </a>
          <a href="" target="_blank"> <%= image_tag "p-github" %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= image_tag "p-linkedin" %> </a>
        </div>
      </div>
      <div class="header-text-light spin-position">
        <p class="rad-text">That's Rad Man</p>
      </div>
      <div class= "select-header-flex">
        <div class= "central-container-lumina">
            <%= image_tag "surf", class: "rad-image-position" %>
          <div class="rad-content rad-color">
            <div class="spin-response">
              <p class= "other-paragraph" >That's Rad Man is a surfer's landing page that was a front-end exercise created by myself to hone in on the basics of HTML/CSS & Design. I wanted to create something simple that had a few interesting components and features (make sure you toggle the surf mode, courtesy of Javascript and linear-gradient CSS stylings!). The design is fully responsive with the use of the Bootstrap grid and uses Flexbox & relative/absolute positioning that changes on screen width.</p>
            </div>
          </div>
          <div class="d-flex button-selection-lumina">
            <div class="toggle-visibility">
              <button class="rad-button port-button preview text-center" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                PREVIEW
              </button>
            </div>
            <div class="rad-button site text-center"><a href="https://rad-man.herokuapp.com" target="_blank">SITE</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content modal-rad">
                <div class="modal-header rad-modal-header">
                  <h5 class="modal-title text-center" id="staticBackdropLabel">That's Rad Man</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body rad-modal-body">
                  <%= image_tag "rad-site", style:"width: 1106px;" %>
                  <!-- <objexct type="text/html" data="https://www.love-lumina.me/"></object> -->
                </div>
              </div>
            </div>
          </div>

<!-- ARTICLE LOUNGE PORTFOLIO -->

  <div class="port-article">
    <div class="custom-container">
      <div class="top-response header-text-light d-flex justify-content-between pt-4">
        <p class="pr-3">Portfolio</p>
        <div class="content-between-toggle contact contact-article">
          <a href=""> <%= image_tag "p-email" %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= image_tag "p-github" %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= image_tag "p-linkedin" %> </a>
        </div>
      </div>
      <div class="header-text-light spin-position">
        <p class="rad-text">Article Lounge</p>
      </div>
      <div class= "d-flex justify-content-center">
        <div class= "central-container-lumina">
            <%= image_tag "article", class: "article-image-position" %>
          <div class="article-content">
            <div class="spin-response">
              <p class= "spin-paragraph" >Article Lounge is a front end exercise and a clone of the <a href="https://directory.goodonyou.eco/?_ga=2.165483384.699705207.1619095993-238668020.1615629652" target="_blank">Good on you Brand Directory</a>. I wanted to take a live website with an attractive design and copy it to the best of my ability while putting my spin on it. The page includes a horizontal scroll as well as some Javascript usage on the button selector. My biggest challenge was creating the "Journal" hover effect on the navbar which I found very unique. The page is fully responsive.</p>
            </div>
          </div>
          <div class="d-flex button-selection-spin">
            <div class="article-button toggle-visibility pport-button preview text-center">PREVIEW</div>
            <div class="article-button site text-center">SITE</div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- PORTFOLIO FIGMA -->

  <div class="port-portfolio">
    <div class="custom-container">
      <div class="top-response header-text-light d-flex justify-content-between pt-4">
        <p class="">Portfolio</p>
        <div class="content-between-toggle contact contact-port">
          <a href=""> <%= image_tag "p-email" %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= image_tag "p-github" %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= image_tag "p-linkedin" %> </a>
        </div>
      </div>
      <div class="header-text-light spin-position">
        <p class="spin-text">Portfolio Figma</p>
      </div>
      <div class= "select-header-flex">
        <div class= "central-container-lumina">
          <div>
              <%= image_tag "figma-port", class: "port-image-position" %>
            <div class="port-content port-color">
              <div class="spin-response">
                <p class= "other-paragraph" >The Figma design for the landing page that you are on right now! I wanted to create a portfolio that was simple and original. Oh, and did I mention that it is responsive? (that's right, this landing page is responsive, try it out!) Figma is an incredible tool for web design and allows creativity to flow very easily. Feel free to have a look and see how my basic design went from the original sketches to the finished product. </p>
              </div>
            </div>
            <div class="d-flex button-selection-lumina">
              <div class="port-button preview text-center">PREVIEW</div>
              <div class="port-button site text-center">SITE</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<!-- SKILLS -->

  <div class="skills" id="skills">

    <div class="custom-container custom-container-skills">
      <div class='marg-change'>
      <div class="top-response header-text-light d-flex justify-content-between pt-4">
        <p class="pr-3">Skills</p>
        <div class="content-between-toggle contact">
          <a href=""> <%= image_tag "p-email" %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= image_tag "p-github" %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= image_tag "p-linkedin" %> </a>
        </div>
      </div>


      <div class="change-to-column">
        <div class ="skills-text front-end mt-5 header-text d-flex justify-content-center align-items-center">
          front end
        </div>
        <div>
          <%= image_tag "arr", class:'arrow-down', style: "margin-top: 82px;" %>
        </div>
        <div class="front-end-skills">
          <div class='d-flex-toggle'>
            <div class='d-flex front-end-center'>
              <%= image_tag "htmlgo", style:'margin: 16px; margin-bottom: 68px;' %>
              <%= image_tag "cssgo", style:"margin-top: 118px;"%>
              <%= image_tag "jaavascriptgo", style:'margin: 16px; margin-bottom: 68px;' %>
            </div>
            <div>
              <p class='skills-content-text m-4'>HTML/CSS & JavaScript fundamental concepts and with the use of JS web tools like Babel, Webpack & yarn. </p>
              <p class='skills-content-text m-4' style='position:absolute;left: 182px;bottom: 8px;'>Front end application featuring Bootstrap, the latest CSS techniques including JS AJAX & adaptave design using responsive grid & media queries.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex-toggle justify-content-center">
        <div class="backennd-skills inner-skill-container">
          <div class="d-flex justify-content-center">
            <%= image_tag "ruby", style: "height: 80px; margin-top:32px;" %>
          </div>
          <p class="skills-content-text-sml m-4 text-center">Experience working with Object-Oriented principles using Ruby on Rails & Model-View-Controller patterns. Relational database experience using SQL & ORM (Active Record). Using simple CRUD queries (Create, Read, Update, Delete) & advanced JOIN queries with SQL.</p>
        </div>

        <div>
          <%= image_tag "arr", class:'arrow-down-again', style: "margin-top: 74px;;transform: rotate(180deg);" %>
        </div>
        <div>
          <div>
            <div class="backend front-end skills-text d-flex justify-content-center align-items-center" style="margin-top: 45px;">
              back end
            </div>
            <div class="front-end skills-text d-flex justify-content-center align-items-center" style="margin-top: 45px; margin-left: 45px;">
              tools
            </div>
          </div>
        </div>
        <div>
          <%= image_tag "arr", class:"arrow-down last-arrow", style: "margin-top: 222px" %>
        </div>
        <div class="tools-skills inner-skill-container d-flex">
          <div class="skills-half-container">
            <%= image_tag "figma", style:'height:65px; margin-left:75px;'%>
            <%= image_tag "slack", style:'height:65px; margin-right: 32px;' %>
            <%= image_tag "gitty", style:'height:65px; margin-left:75px;'%>
          </div>
            <p class="skills-content-text d-flex justify-content-center align-items-center m-4">The usage of developer tools such as Slack, Git & Github, Figma for design, Cloudinary & API usage. </p>
        </div>
      </div>

      </div>


    </div>

  </div>

<!-- ABOUT ME -->

  <div class="about" id="about">
    <div class="about-inner custom-container d-flex justify-content-center">
      <div class='width-fix'>
        <div class="about-flex header-text-light d-flex justify-content-end pt-4">
          <!-- <p class="pr-3">Portfolio</p> -->
          <div class="d-flex-toggle justify-content-between contact change-position">
            <a href=""> <%= image_tag "p-email" %> </a>
            <a href="https://github.com/Tom-Tee" target="_blank"> <%= image_tag "p-github" %> </a>
            <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= image_tag "p-linkedin" %> </a>
          </div>
        </div>
        <div class="about-dflex-change" style="align-items: flex-end;">
          <div class="about-header skills-text">
            about
          </div>
          <div class="development d-flex">
            <div class='align-items-selector'>
              <%= image_tag "me", style:"height:160px; border-radius:50%; margin-left:50px; margin-top:10px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" %>
            </div>
            <div class="m-3">
              <h4 class="about-text">Development</h4>
              <p>Hi I’m Tom. I’m a web developer who has just completed a 6 month intensive coding bootcamp with Le Wagon Melbourne. I am looking for an opportunity in tech in Melbourne am keen to expand my knowledge and learn more.</p>
            </div>
          </div>
        </div>


        <div class="content-selector">
          <div class="home d-flex">
            <div class="m-3">
              <h4 class="about-text">Home</h4>
              <p>I am originally Scottish with a duel nationality with Australia and have living in Melbourne for 3 years.</p>
            </div>
            <div class='d-flex align-items-center'>
              <%= image_tag "scotland", class:"flag-container" %>
            </div>
          </div>

        </div>
        <div class="display-selector" style="max-height: 180px;">
          <div class="d-flex interests">
            <div class='align-items-selector'>
              <%= image_tag "guitar", class:"interests-container" %>
            </div>
            <div class="m-3">
              <h4 class="about-text">Interests</h4>
              <p>I love learning more about tech stacks, coding languages & design. When I’m not being a techy I am hugely in to fitness and wellbeing and you might just find me performing music at your local bar. </p>
            </div>
        </div>
        <div class="fun-fact">
            <div class="m-3 text-center">
              <h4 class="about-text">Fun Fact</h4>
              <p >As a musician I have performed live on stage with a rockstar, have recorded on a video game soundtrack that had 9/10 from IGN & had a fan club who brought signs to my gigs!</p>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
