<div class = "begin d-flex justify-content-center align-items-center">
  <div class="begin-content d-flex  justify-content-center align-items-center">
    <div>
      <div class="top-nav d-flex justify-content-around">
        <h6>portfolio</h6>
        <h6>skills</h6>
        <h6>about</h6>
      </div>
      <h1 class="pt-5 pb-5 text-center header-text">Thomas Temple</h1>
      <h4>Web Developer who loves music, fitness & Scotland </h4>
      <div class="d-flex justify-content-around pt-5">
        <a href=""> <%= image_tag "emails" %> </a>
        <a href="" target="_blank"> <%= image_tag "the-real-git" %> </a>
        <a href="" target="_blank"> <%= image_tag "linkedin" %> </a>
      </div>
    </div>
  </div>
</div>



<div class="port-lumina">
  <div class="custom-container">
    <div class="header-text d-flex justify-content-between pt-4">
      <p class="pr-3">Portfolio</p>
      <div class="d-flex justify-content-between contact">
        <a href=""> <%= image_tag "p-email" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-github" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-linkedin" %> </a>
      </div>
    </div>
    <div class="header-text">
      <p class="lumina-text">Lumina</p>
    </div>
    <div class= "d-flex justify-content-center">
      <div class= "central-container">
          <%= image_tag "lumina", class: "lumina-image-position" %>
        <div class="lumina-content">
          <div class="lumina-response">
            <p class= "lumina-paragraph" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, voluptatem libero, hic molestiae molestias laborum repellat. Iure sit natus quia temporibus vero labore, consequatur nisi debitis saepe harum, officiis rerum porro dolore itaque odit hic. Atque fugit error, quibusdam dolorum ipsum dolore dolor laborum eum, consectetur asperiores sed? Placeat, maiores maxime mollitia vitae, amet optio officia voluptas, recusandae porro inventore, sint corrupti reiciendis</p>
          </div>
        </div>
        <div class="d-flex button-selection-lumina">
          <div class="port-button preview text-center">PREVIEW</div>
          <div class="port-button site text-center">SITE</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="port-spin">
  <div class="custom-container">
    <div class="header-text d-flex justify-content-between pt-4">
      <p class="pr-3">Portfolio</p>
      <div class="d-flex justify-content-between contact">
        <a href=""> <%= image_tag "p-email" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-github" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-linkedin" %> </a>
      </div>
    </div>
    <div class="header-text spin-position">
      <p class="spin-text">spin finder</p>
    </div>
    <div class= "d-flex justify-content-center">
      <div class= "central-container">
          <%= image_tag "spin", class: "spin-image-position" %>
        <div class="spin-content">
          <div class="spin-response">
            <p class= "spin-paragraph" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, voluptatem libero, hic molestiae molestias laborum repellat. Iure sit natus quia temporibus vero labore, consequatur nisi debitis saepe harum, officiis rerum porro dolore itaque odit hic. Atque fugit error, quibusdam dolorum ipsum dolore dolor laborum eum, consectetur asperiores sed? Placeat, maiores maxime mollitia vitae, amet optio officia voluptas, recusandae porro inventore</p>
          </div>
        </div>
        <div class="d-flex button-selection-spin">
          <div class="port-button preview text-center">PREVIEW</div>
          <div class="port-button site text-center">SITE</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="port-rad">
  <div class="custom-container">
    <div class="header-text d-flex justify-content-between pt-4">
      <p class="pr-3">Portfolio</p>
      <div class="d-flex justify-content-between contact">
        <a href=""> <%= image_tag "p-email" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-github" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-linkedin" %> </a>
      </div>
    </div>
    <div class="header-text spin-position">
      <p class="spin-text">That's rad man</p>
    </div>
    <div class= "d-flex justify-content-center">
      <div class= "central-container">
          <%= image_tag "surf", class: "rad-image-position" %>
        <div class="rad-content">
          <div class="spin-response">
            <p class= "spin-paragraph" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, voluptatem libero, hic molestiae molestias laborum repellat. Iure sit natus quia temporibus vero labore, consequatur nisi debitis saepe harum, officiis rerum porro dolore itaque odit hic. Atque fugit error, quibusdam dolorum ipsum dolore dolor laborum eum, consectetur asperiores sed? Placeat, maiores maxime mollitia vitae, amet optio officia voluptas, recusandae porro inventore</p>
          </div>
        </div>
        <div class="d-flex button-selection-lumina">
          <div class="port-button preview text-center">PREVIEW</div>
          <div class="port-button site text-center">SITE</div>
        </div>
      </div>
    </div>


  </div>
</div>
<div class="port-article">
  <div class="custom-container">
    <div class="header-text d-flex justify-content-between pt-4">
      <p class="pr-3">Portfolio</p>
      <div class="d-flex justify-content-between contact">
        <a href=""> <%= image_tag "p-email" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-github" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-linkedin" %> </a>
      </div>
    </div>
    <div class="header-text spin-position">
      <p class="spin-text">article lounge</p>
    </div>
    <div class= "d-flex justify-content-center">
      <div class= "central-container">
          <%= image_tag "article", class: "spin-image-position" %>
        <div class="spin-content">
          <div class="spin-response">
            <p class= "spin-paragraph" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, voluptatem libero, hic molestiae molestias laborum repellat. Iure sit natus quia temporibus vero labore, consequatur nisi debitis saepe harum, officiis rerum porro dolore itaque odit hic. Atque fugit error, quibusdam dolorum ipsum dolore dolor laborum eum, consectetur asperiores sed? Placeat, maiores maxime mollitia vitae, amet optio officia voluptas, recusandae porro inventore</p>
          </div>
        </div>
        <div class="d-flex button-selection-spin">
          <div class="port-button preview text-center">PREVIEW</div>
          <div class="port-button site text-center">SITE</div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="port-portfolio">

</div>



<div class="skills">

  <div class="custom-container">

    <div class="header-text d-flex justify-content-between pt-4">
      <p class="pr-3">skills</p>
      <div class="d-flex justify-content-between contact">
        <a href=""> <%= image_tag "p-email" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-github" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-linkedin" %> </a>
      </div>
    </div>


    <div class="d-flex justify-content-center">
      <div class ="skills-text front-end mt-5 header-text d-flex justify-content-center align-items-center">
        front end
      </div>
      <div>
        <%= image_tag "arr", style: "margin-top: 82px;" %>
      </div>
      <div class="front-end-skills">
        <div class='d-flex'>
          <div class='d-flex'>
            <%= image_tag "htmlgo", style:'margin: 16px; margin-bottom: 68px;' %>
            <%= image_tag "cssgo", style:"margin-top: 118px;"%>
            <%= image_tag "jaavascriptgo", style:'margin: 16px; margin-bottom: 68px;' %>
          </div>
          <div>
            <p class='skills-content-text m-4'>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Nam, eum, earum. Molestias modi culpa iure ab cumque quasi laboriosam velit. Sit tenetur iste aliquam quidem amet dolores nobis quo facere quae magnam, itaque aliquid quis?</p>
            <p class='skills-content-text' style='position:absolute;left: 182px;bottom: 8px;'>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Nam, eum, earum. Molestias modi culpa iure ab cumque.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="backennd-skills inner-skill-container">
        <div class="d-flex justify-content-center">
          <%= image_tag "ruby", style: "height: 80px; margin-top:32px;" %>
        </div>
        <p class="skills-content-text m-4 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem optio facere consectetur ducimus ad culpa hic, nisi, vitae quidem expedita sit velit, nesciunt aliquam, cum molestiae consectetur ducimus ad !</p>
      </div>

      <div>
        <%= image_tag "arr", style: "margin-top: 74px;;transform: rotate(180deg);" %>
      </div>
      <div>
        <div>
          <div class="front-end skills-text d-flex justify-content-center align-items-center" style="margin-top: 45px;">
            back end
          </div>
          <div class="front-end skills-text d-flex justify-content-center align-items-center" style="margin-top: 45px; margin-left: 45px;">
            tools
          </div>
        </div>
      </div>
      <div>
        <%= image_tag "arr", style: "margin-top: 222px" %>
      </div>
      <div class="tools-skills inner-skill-container d-flex">
        <div class="skills-half-container">
          <%= image_tag "figma", style:'height:65px; margin-left:75px;'%>
          <%= image_tag "slack", style:'height:65px; margin-right: 32px;' %>
          <%= image_tag "gitty", style:'height:65px; margin-left:75px;'%>
        </div>
          <p class="skills-content-text d-flex justify-content-center align-items-center m-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti nobis nam, veniam impedit quo, cumque!</p>
      </div>
    </div>

  </div>

</div>


<div class="about">
  <div class="custom-container">
    <div style="position:relative;">
      <div class="header-text d-flex justify-content-end pt-4">
        <!-- <p class="pr-3">Portfolio</p> -->
        <div class="d-flex justify-content-between contact">
          <a href=""> <%= image_tag "p-email" %> </a>
          <a href="" target="_blank"> <%= image_tag "p-github" %> </a>
          <a href="" target="_blank"> <%= image_tag "p-linkedin" %> </a>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="about-header skills-text">
          about
        </div>
        <div class="development">

        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="home">
          yuo
        </div>

      </div>
      <div class="d-flex justify-content-center interests">
      </div>
    </div>
  </div>
</div>
