<div class = "begin d-flex  justify-content-center align-items-center">
  <div class="begin-content d-flex  justify-content-center align-items-center">
    <div>
      <div class="top-nav d-flex justify-content-around">
        <h6>portfolio</h6>
        <h6>skills</h6>
        <h6>about</h6>
      </div>
      <h1 class="pt-5 pb-5 text-center header-text">Thomas Temple</h1>
      <h4>Web Developer who loves music, fitness & Scotland </h4>
      <div class="d-flex justify-content-around pt-5">
        <a href=""> <%= image_tag "emails" %> </a>
        <a href="" target="_blank"> <%= image_tag "the-real-git" %> </a>
        <a href="" target="_blank"> <%= image_tag "linkedin" %> </a>
      </div>
    </div>
  </div>
</div>
<div class="port-lumina">
  <div class="custom-container">
    <div class="header-text d-flex justify-content-between pt-5">
      <p class="pr-3">Portfolio</p>
      <div class="d-flex justify-content-between contact">
        <a href=""> <%= image_tag "p-email" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-github" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-linkedin" %> </a>
      </div>
    </div>
    <div class="header-text">
      <p class="lumina-text">Lumina</p>
    </div>
  </div>
</div>
<div class="port-spin">

</div>
<div class="port-rad">

</div>
<div class="port-article">

</div>
<div class="port-portfolio">

</div>
<div class="skills">

</div>
<div class="about">

</div>
