<div class = "begin d-flex  justify-content-center align-items-center">
  <div class="begin-content d-flex  justify-content-center align-items-center">
    <div>
      <div class="top-nav d-flex justify-content-around">
        <h6>portfolio</h6>
        <h6>skills</h6>
        <h6>about</h6>
      </div>
      <h1 class="pt-5 pb-5 text-center header-text">Thomas Temple</h1>
      <h4>Web Developer who loves music, fitness & Scotland </h4>
      <div class="d-flex justify-content-around pt-5">
        <a href=""> <%= image_tag "emails" %> </a>
        <a href="" target="_blank"> <%= image_tag "the-real-git" %> </a>
        <a href="" target="_blank"> <%= image_tag "linkedin" %> </a>
      </div>
    </div>
  </div>
</div>



<div class="port-lumina">
  <div class="custom-container">
    <div class="header-text d-flex justify-content-between pt-4">
      <p class="pr-3">Portfolio</p>
      <div class="d-flex justify-content-between contact">
        <a href=""> <%= image_tag "p-email" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-github" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-linkedin" %> </a>
      </div>
    </div>
    <div class="header-text">
      <p class="lumina-text">Lumina</p>
    </div>
    <div class= "d-flex justify-content-center">
      <div class= "central-container">
          <%= image_tag "lumina", class: "lumina-image-position" %>
        <div class="lumina-content">
          <div class="lumina-response">
            <p class= "lumina-paragraph" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, voluptatem libero, hic molestiae molestias laborum repellat. Iure sit natus quia temporibus vero labore, consequatur nisi debitis saepe harum, officiis rerum porro dolore itaque odit hic. Atque fugit error, quibusdam dolorum ipsum dolore dolor laborum eum, consectetur asperiores sed? Placeat, maiores maxime mollitia vitae, amet optio officia voluptas, recusandae porro inventore, sint corrupti reiciendis officiis dolor deserunt perferendis esse illum quibusdam eligendi incidunt in!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="port-spin">
  <div class="custom-container">
    <div class="header-text d-flex justify-content-between pt-4">
      <p class="pr-3">Portfolio</p>
      <div class="d-flex justify-content-between contact">
        <a href=""> <%= image_tag "p-email" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-github" %> </a>
        <a href="" target="_blank"> <%= image_tag "p-linkedin" %> </a>
      </div>
    </div>
    <div class="header-text">
      <p class="spin-text">spin finder</p>
    </div>
    <div class= "d-flex justify-content-center">
      <div class= "central-container">
          <%= image_tag "spin", class: "spin-image-position" %>
        <div class="spin-content">
          <div class="spin-response">
            <p class= "spin-paragraph" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, voluptatem libero, hic molestiae molestias laborum repellat. Iure sit natus quia temporibus vero labore, consequatur nisi debitis saepe harum, officiis rerum porro dolore itaque odit hic. Atque fugit error, quibusdam dolorum ipsum dolore dolor laborum eum, consectetur asperiores sed? Placeat, maiores maxime mollitia vitae, amet optio officia voluptas, recusandae porro inventore, sint corrupti reiciendis officiis dolor deserunt perferendis esse illum quibusdam eligendi incidunt in!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="port-rad">

</div>
<div class="port-article">

</div>
<div class="port-portfolio">

</div>
<div class="skills">

</div>
<div class="about">

</div>
