<div class="the-start">
  <div class = "begin d-flex justify-content-center align-items-center">
    <div class="begin-content d-flex justify-content-center align-items-center">
      <div>
        <div class="top-nav d-flex justify-content-around">
         <a href="#portfolio"><h6>portfolio</h6></a>
          <a href="#skills"><h6>skills</h6></a>
           <a href="#about"><h6>about</h6></a>
        </div>
        <h1 class="pt-5 pb-5 text-center header-text">Thomas Temple</h1>
        <h4 class='pb-5'>Junior Developer who loves music, fitness & Scotland </h4>
        <div class="d-flex justify-content-around media-icons">
          <a href="mailto: tjt_84@hotmail.com"> <%= cl_image_tag("emails_ntvw5l", :style => "padding-top:8px;width: 75px;", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= cl_image_tag("the-real-git_dhts20", :style=>"padding-top:6px;", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= cl_image_tag("linkedin_z3sgtk", :style=>"padding-top:8px;", :cloud_name => 'demuds3g0') %> </a>
        </div>
      </div>
    </div>
  </div>

<!-- LUMINA PORTFOLIO -->

  <div class="port-lumina" id="portfolio">
    <div class="custom-container">
      <div class="top-response header-text-light d-flex justify-content-between pt-4">
        <div class="portfolio-nav">
        <p class="pr-3">Portfolio</p>
        </div>
        <div class="content-between-toggle contact">
          <a href="mailto: tjt_84@hotmail.com"> <%= cl_image_tag("p-email_h9kjy2", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= cl_image_tag("p-github_c7e4xb", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= cl_image_tag("p-linkedin_p3ujdf", :cloud_name => 'demuds3g0') %> </a>
        </div>
      </div>
      <div class="header-text-light">
        <p class="lumina-text">Lumina</p>
      </div>
      <div class= "inner-container-detail">
        <div class= "central-container-lumina">
            <%= cl_image_tag("lumina_dr8tai", :class=>"lumina-image-position", :cloud_name => 'demuds3g0') %>

          <div class="lumina-content">
            <div class="lumina-response">
              <p class= "lumina-paragraph" >Lumina is a social media platform that connects people to engage, give back and spread kindness. It was created in a team environment as the final project at the end of a coding Bootcamp with Le Wagon Melbourne. Created on Rails with Ruby, Javascript, HTML & CSS, the app includes geocoding Mapbox features, AJAX, authorization & pundit gems, API calling via Meet Up, and a fully randomized never-ending feed. My involvement includes backend logic/algorithm creation as well as assistance with front-end & component design.</p>
            </div>
          </div>
          <div class="d-flex button-selection-lumina">
            <div class="toggle-visibility">
            <button class="lumina-button preview text-center" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              PREVIEW
            </button>
          </div>
          <div>
            <a href="http://www.love-lumina.me" target="_blank"><button class="lumina-button site text-center" type="button"> SITE</button></a>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header lumina-modal-header">
                  <h5 class="modal-title text-center" id="staticBackdropLabel">Lumina</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body lumina-modal-body">
                  <%= cl_image_tag("lumina-site_hjfsyd", :style => "width: 1106px;", :cloud_name => 'demuds3g0') %>
                  <object type="text/html" data="https://www.love-lumina.me/"></object>
                </div>
              </div>
            </div>
          </div>


<!-- SPIN FINDER PORTFOLIO -->

  <div class="port-spin">
    <div class="custom-container">
      <div class="top-response header-text-light d-flex justify-content-between pt-3">
        <p class="pr-3">Portfolio</p>
        <div class="content-between-toggle contact contact-spin">
          <a href="mailto: tjt_84@hotmail.com"> <%= cl_image_tag("p-email_h9kjy2", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= cl_image_tag("p-github_c7e4xb", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= cl_image_tag("p-linkedin_p3ujdf", :cloud_name => 'demuds3g0') %> </a>
        </div>
      </div>
      <div class="header-text-light spin-position">
        <p class="spin-text">Spin Finder</p>
      </div>
      <div class= "d-flex justify-content-center">
        <div class= "central-container-lumina">
          <%= cl_image_tag("spin_ojspvh", :class=>"spin-image-position", :cloud_name => 'demuds3g0') %>
          <div class="spin-content">
            <div class="spin-response">
              <p class= "spin-paragraph" >
                Spin Finder is a cycling rental application which gives the user the ability to rent a bicycle from another user as well as rent out their own bikes. It is a marketplace website created in a team with Le Wagon Melbourne. The application includes multiple user pathways using a basic CRUD software architectural style. Spin was my first app built back to front collaboratively using an MVC software design pattern.</p>
            </div>
          </div>
          <div class="d-flex button-selection-spin">
            <div class="toggle-visibility">
              <button class="spin-button preview text-center" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                PREVIEW
              </button>
            </div>
            <div>
              <a href="https://spin-finder.herokuapp.com/" target="_blank"><button class="spin-button site text-center" type="button"> SITE</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content modal-rad">
                <div class="modal-header spin-modal-header">
                  <h5 class="modal-title text-center" id="staticBackdropLabel">Spin Finder</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body spin-modal-body">
                  <%= cl_image_tag("spin-website_zdgs3k", :style=>"width:1106px", :cloud_name => 'demuds3g0') %>
                  <!-- <object type="text/html" data="https://www.love-lumina.me/"></object> -->
                </div>
              </div>
            </div>
          </div>

<!-- RAD MAN PORTFOLIO -->

  <div class="port-rad">
    <div class="custom-container">
      <div class="top-response header-text-light d-flex justify-content-between pt-3">
        <p class="pr-3">Portfolio</p>
        <div class="content-between-toggle contact contact-rad">
          <a href="mailto: tjt_84@hotmail.com"> <%= cl_image_tag("p-email_h9kjy2", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= cl_image_tag("p-github_c7e4xb", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= cl_image_tag("p-linkedin_p3ujdf", :cloud_name => 'demuds3g0') %> </a>
        </div>
      </div>
      <div class="header-text-light spin-position">
        <p class="rad-text">That's Rad Man</p>
      </div>
      <div class= "select-header-flex">
        <div class= "central-container-lumina">
            <%= cl_image_tag("final-rad_nwhkbj", :class=>"rad-image-position", :cloud_name => 'demuds3g0') %>
          <div class="rad-content rad-color">
            <div class="spin-response">
              <p class= "other-paragraph" >That’s Rad Man’ is a surfer’s landing page that I created to hone in on the basics of HTML/CSS & Design. I wanted to build something simple that had a few interesting components and features: Make sure you toggle the surf mode, courtesy of Javascript and linear-gradient CSS stylings! The design is fully responsive, which allowed me to play with Bootstrap grid and uses Flexbox & relative/absolute positioning adapting to the screen width.</p>
            </div>
          </div>
          <div class="d-flex button-selection-lumina">
            <div class="toggle-visibility">
              <button class="rad-button preview text-center" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                PREVIEW
              </button>
            </div>
            <div>
              <a href="https://rad-man.herokuapp.com" target="_blank"><button class="rad-button site text-center" type="button"> SITE</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content modal-rad">
                <div class="modal-header rad-modal-header">
                  <h5 class="modal-title text-center" id="staticBackdropLabel">That's Rad Man</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body rad-modal-body">
                  <%= cl_image_tag("rad-site_vmhqrf", :style=>"width:1106px", :cloud_name => 'demuds3g0') %>
                  <!-- <objexct type="text/html" data="https://www.love-lumina.me/"></object> -->
                </div>
              </div>
            </div>
          </div>

<!-- ARTICLE LOUNGE PORTFOLIO -->

  <div class="port-article">
    <div class="custom-container">
      <div class="top-response header-text-light d-flex justify-content-between pt-3">
        <p class="pr-3">Portfolio</p>
        <div class="content-between-toggle contact contact-article">
          <a href="mailto: tjt_84@hotmail.com"> <%= cl_image_tag("p-email_h9kjy2", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= cl_image_tag("p-github_c7e4xb", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= cl_image_tag("p-linkedin_p3ujdf", :cloud_name => 'demuds3g0') %> </a>
        </div>
      </div>
      <div class="header-text-light spin-position">
        <p class="rad-text">Article Lounge</p>
      </div>
      <div class= "d-flex justify-content-center">
        <div class= "central-container-lumina">
            <%= cl_image_tag("final-article_zsfvuc", :class=>"article-image-position", :cloud_name => 'demuds3g0') %>
          <div class="article-content">
            <div class="spin-response">
              <p class= "spin-paragraph" >Article Lounge is a clone of the <a href="https://directory.goodonyou.eco/?_ga=2.165483384.699705207.1619095993-238668020.1615629652" target="_blank">Good on you Brand Directory.</a> I wanted to take a live website with an attractive design and copy it to the best of my ability, while putting my spin on it. The page includes a horizontal scroll as well as some Javascript usage on the button selector. My biggest challenge was creating the “Journal” hover effect on the navbar which I found very unique. The page is fully responsive.</p>
            </div>
          </div>
          <div class="d-flex button-selection-spin">
            <div class="toggle-visibility">
              <button class="article-button preview text-center" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                PREVIEW
              </button>
            </div>
            <div>
              <a href="https://new-article-lounge.herokuapp.com" target="_blank"><button class="article-button site text-center" type="button"> SITE</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content modal-rad">
                <div class="modal-header article-modal-header">
                  <h5 class="modal-title text-center" id="staticBackdropLabel">Article Lounge</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body article-modal-body">
                  <%= cl_image_tag("article-site_bakn0g", :style=>"width:1106px", :cloud_name => 'demuds3g0') %>
                  <!-- <objexct type="text/html" data="https://www.love-lumina.me/"></object> -->
                </div>
              </div>
            </div>
          </div>

<!-- PORTFOLIO FIGMA -->

  <div class="port-portfolio">
    <div class="custom-container">
      <div class="top-response header-text-light d-flex justify-content-between pt-3">
        <p class="">Portfolio</p>
        <div class="content-between-toggle contact contact-port">
          <a href="mailto: tjt_84@hotmail.com"> <%= cl_image_tag("p-email_h9kjy2", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= cl_image_tag("p-github_c7e4xb", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= cl_image_tag("p-linkedin_p3ujdf", :cloud_name => 'demuds3g0') %> </a>
        </div>
      </div>
      <div class="header-text-light spin-position">
        <p class="spin-text">Portfolio Figma</p>
      </div>
      <div class= "select-header-flex">
        <div class= "central-container-lumina">
          <div>
              <%= cl_image_tag("figma-port_oeda9u", :class=>"port-image-position", :cloud_name => 'demuds3g0') %>
            <div class="port-content port-color">
              <div class="spin-response">
                <p class= "other-paragraph" >Have a look and see how my basic design went from the original sketches to the finished product that you are visiting right now. The landing page is fully responsive, try it out! I wanted to create a portfolio that was simple and yet original, using Figma which is an incredible tool for my creativity to flow very easily. Oh, and did I mention that it is responsive? </p>
              </div>
            </div>
          <div class="d-flex button-selection-lumina">
            <div class="toggle-visibility">
              <button class="port-button port-button preview text-center" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
                MOCKUP
              </button>
            </div>
            <div class='button-update'>
              <!-- <a href="https://new-article-lounge.herokuapp.com" target="_blank"><button class="article-button site text-center" type="button"> SITE</button></a> -->
                <%= link_to "DOWNLOAD", download_path, target: "_blank", class:"port-button site text-center"%>
            </div>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>


          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content modal-rad">
                <div class="modal-header port-figma-modal-header">
                  <h5 class="modal-title text-center" id="staticBackdropLabel">Portfolio Figma</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body port-figma-modal-body">
                  <%= cl_image_tag("figma-design_euuxyb", :style=>"width:1106px", :cloud_name => 'demuds3g0') %>
                  <!-- <objexct type="text/html" data="https://www.love-lumina.me/"></object> -->
                </div>
              </div>
            </div>
          </div>


<!-- SKILLS -->

  <div class="skills" id="skills">

    <div class="custom-container custom-container-skills">
      <div class='marg-change'>
      <div class="top-response header-text-light d-flex justify-content-between">
        <p class="pr-3 m-3">Skills</p>
        <div class="content-between-toggle contact contact-skills">
          <a href="mailto: tjt_84@hotmail.com"> <%= cl_image_tag("p-email_h9kjy2", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= cl_image_tag("p-github_c7e4xb", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= cl_image_tag("p-linkedin_p3ujdf", :cloud_name => 'demuds3g0') %> </a>
        </div>
      </div>


      <div class="change-to-column">
        <div class ="skills-text front-end mt-5 header-text d-flex justify-content-center align-items-center">
          front end
        </div>
        <div>
          <%= cl_image_tag("arr_jcza0z", :style=>'margin-top: 82px;', :class => "arrow-down", :cloud_name => 'demuds3g0') %>
        </div>
        <div class="front-end-skills">
          <div class='d-flex-toggle'>
            <div class='d-flex front-end-center'>
              <%= cl_image_tag("htmlgo_mgmbwx", :style=>'margin: 16px; margin-bottom: 68px;', :cloud_name => 'demuds3g0') %>
              <%= cl_image_tag("cssgo_iyjf5l", :style=>"margin-top: 118px;", :cloud_name => 'demuds3g0') %>
              <%= cl_image_tag("jaavascriptgo_m1bgor", :style=>'margin: 16px; margin-bottom: 68px;', :cloud_name => 'demuds3g0') %>
            </div>
            <div>
              <p class='skills-content-text m-4'>HTML/CSS & JavaScript fundamental concepts and with the use of JS web tools like Babel, Webpack & yarn. </p>
              <p class='skills-content-text m-4' style='position:absolute;left: 182px;bottom: -6px;'>Front end application featuring Bootstrap, the latest CSS techniques including JS AJAX & adaptave design using responsive grid & media queries.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex-toggle justify-content-center">
        <div class="backennd-skills inner-skill-container">
          <div class="d-flex justify-content-center">
            <%= cl_image_tag("ruby_f8qkl5", :style=>'height: 80px; margin-top:32px;', :cloud_name => 'demuds3g0') %>
          </div>
          <p class="skills-content-text-sml m-4 text-center">Solid experience working with Object-Oriented principles using Ruby on Rails, Model-View-Controller patterns, ORM (Active Record), SQL CRUD queries & advanced JOIN queries.</p>
        </div>

        <div>
          <%= cl_image_tag("arr_jcza0z", :class=> "arrow-down-again", :style=>'margin-top: 74px;;transform: rotate(180deg);', :cloud_name => 'demuds3g0') %>
        </div>
        <div>
          <div>
            <div class="backend front-end skills-text d-flex justify-content-center align-items-center" style="margin-top: 45px;">
              back end
            </div>
            <div class="front-end skills-text d-flex justify-content-center align-items-center" style="margin-top: 45px; margin-left: 45px;">
              tools
            </div>
          </div>
        </div>
        <div>
          <%= cl_image_tag("arr_jcza0z", :class=> "arrow-down last-arrow", :style=>'margin-top: 222px;', :cloud_name => 'demuds3g0') %>
        </div>
        <div class="tools-skills inner-skill-container d-flex">
          <div class="skills-half-container">
            <%= cl_image_tag("figma_if7xyk", :style=>'height:65px; margin-left:75px;', :cloud_name => 'demuds3g0') %>
            <%= cl_image_tag("slack_qc6fo6", :style=>'height:65px; margin-right: 32px;', :cloud_name => 'demuds3g0') %>
            <%= cl_image_tag("gitty_pog4h6", :style=>'height:65px; margin-left:75px;', :cloud_name => 'demuds3g0') %>
          </div>
            <p class="skills-content-text d-flex justify-content-center align-items-center m-4">Worked in an agile team environment using Slack, Trello, Git & GitHub. Used developer tools such as Figma for design, Cloudinary & several API.</p>
        </div>
      </div>

      </div>


    </div>

  </div>

<!-- ABOUT ME -->

  <div class="about" id="about">
    <div class="about-inner custom-container d-flex justify-content-center">
      <div class='width-fix'>
        <div class="about-flex header-text-light d-flex justify-content-end">
          <!-- <p class="pr-3">Portfolio</p> -->
          <div class="d-flex-toggle justify-content-between contact contact-about change-position">
          <a href="mailto: tjt_84@hotmail.com"> <%= cl_image_tag("p-email_h9kjy2", :style=>"padding-top:8px;", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://github.com/Tom-Tee" target="_blank"> <%= cl_image_tag("p-github_c7e4xb", :cloud_name => 'demuds3g0') %> </a>
          <a href="https://www.linkedin.com/in/thomas-temple/" target="_blank"> <%= cl_image_tag("p-linkedin_p3ujdf", :cloud_name => 'demuds3g0') %> </a>
          </div>
        </div>
        <div class="about-dflex-change" style="align-items: flex-end;">
          <div class="about-header abouts-text">
            about
          </div>
          <div class="development d-flex">
            <div class='align-items-selector'>
              <%= cl_image_tag("met_x8gkid", :style=>'height:160px; border-radius:50%; border:3px solid black; margin-left:50px; margin-top:10px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"', :cloud_name => 'demuds3g0') %>
            </div>
            <div class="m-3">
              <h4 class="about-text">Who I am</h4>
              <p>Hi I’m Tom. I’m a developer at Junior level who has just completed a 6 month intensive coding bootcamp with Le Wagon Melbourne. I am looking for an opportunity in tech in Melbourne am keen to expand my knowledge and learn more. I am originally Scottish with a duel nationality with Australia and have been living in beautiful Melbourne for 3 years.</p>
            </div>
          </div>
        </div>


        <div class="content-selector">
          <div class="home d-flex">
            <div class="m-3">
              <h4 class="about-text">Development</h4>
              <p>I am originally Scottish with a duel nationality with Australia and have been living in beautiful Melbourne for 3 years.</p>
            </div>
            <div class='d-flex align-items-center'>
              <%= cl_image_tag("scotland_o4xdht", :class => "flag-container", :cloud_name => 'demuds3g0') %>
            </div>
          </div>

        </div>
        <div class="display-selector" style="max-height: 180px;">
          <div class="d-flex interests">
            <div class='align-items-selector'>
              <%= cl_image_tag("guitar_ikwur0", :class => "interests-container", :cloud_name => 'demuds3g0') %>
            </div>
            <div class="m-3">
              <h4 class="about-text">Interests</h4>
              <p>I love learning more about tech stacks, coding languages & design. When I’m not being a techy I am hugely in to fitness and wellbeing and you might just find me performing music at your local bar. </p>
            </div>
        </div>
        <div class="fun-fact">
            <div class="m-3 text-center">
              <h4 class="about-text">Fun Fact</h4>
              <p >As a musician I have performed live on stage with a rockstar, have recorded on a video game soundtrack that had 9/10 from IGN & had a "fan club" who brought signs to my gigs!</p>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
